*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#container
{
    height: 90vmin;
    width: 90vmin;
    background: url(clock.png) no-repeat;
    background-size:100%;
}
#hourhand,#minhand,#sechand
{
    position: absolute;
    left: 0;
    right: 0;
    bottom:50%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
    transform: rotate(90deg);
}
#hourhand
{
    height: 20vmin;
    width: 1.2%;    
}
#minhand
{
    height: 25vmin;
    width: 1.2%;    
}
#sechand
{
    height: 28vmin;
    width: 1%;
}
